<div class="container-fluid">

    <div class="row mt-5">

        <div class="column d-flex flex-column justify-content-center align-items-center mt-5">
            <div class="heading">
                <h2>Code-By-Mohsin</h2>
            </div>

            <div class="text">
                <p>Living, learning, & leveling up <br>one day at a time.</p>
            </div>

            <div class="allSocials">
                <a href="https://github.com/Mohsin-max" target="_blank"><i class="ri-github-fill"></i></a>
                <a href="https://www.linkedin.com/in/mohsin-ali-5025772b6/" target="_blank"><i class="ri-linkedin-box-fill"></i></a>
                <a href="mailto:javascript492@gmail.com" target="_blank"><i class="ri-mail-line"></i></a>
            </div>

            <div class="copyright">
                <p>Handcrafted by me <i class="ri-copyright-line"></i> twentytwentyfour</p>
            </div>

        </div>

    </div>

</div>