<div class="container-fluid">

    <div class="row">

        <div class="column d-flex flex-column align-items-center">

            <div class="about-heading">

                <h2>About Me</h2>
            </div>

            <div class="about-text">

                <p>Hello! My name is Mohsin, and I am a passionate Frontend Developer with a strong interest in designing modern and user-friendly web applications. Born on September 4, 2005, I have been fascinated by technology and design from a young age. <br><br>

                    I have a solid foundation in HTML, CSS, and JavaScript, and I enjoy working with frameworks like Angular to create dynamic and responsive user interfaces. My projects showcase my ability to integrate APIs and implement engaging designs, reflecting my commitment to delivering high-quality web experiences. <br> <br>
                    
                    In my free time, I love exploring new design trends, improving my coding skills, and working on personal projects that challenge my creativity and technical abilities.</p>

            </div>

        </div>

    </div>

</div>