<div class="container-fluid">

    <div class="row">

        <div class="col-12 col-md-5 col-lg-5 about-image">
            <img src="assets/images/about.png" alt="">
        </div>

        <div class="col-12 col-md-7 col-lg-7 d-flex flex-column align-items-center text-start">

            <div class="about-text about-heading">

                <h2>About Me</h2>
                <!-- </div> -->

                <!-- <div class="about-text"> -->

                <p>Hello! My name is Mohsin, and I am a skilled Frontend Developer with strong expertise in creating
                    modern and responsive web applications. With extensive experience in <b>HTML</b>, <b>CSS</b>, and
                    <b>JavaScript</b>, I specialize in designing user-friendly interfaces using frameworks like <b>Angular</b>
                    and <b>Bootstrap</b>.

                    I am proficient in integrating <b>RESTful APIs</b>, implementing advanced UI components with <b>Tailwind CSS</b>,
                    and have a solid understanding of <b>React basics</b>.My knowledge of <b>Git, GitHub</b>, and <b>Firebase</b> ensures
                    efficient version control, backend integration, and real-time database management.</p>

            </div>

        </div>

    </div>

</div>