<div class="container-fluid">

    <div class="row" style="margin: 220px 0 120px 0;">

        <div class="portfolio-heading">

            <h2>My Projects</h2>
        </div>

    </div>

    <!-- PROJECT 1 -->
    <div class="row px-3">

        <div class="col-lg-6">

            <div class="project-1-heading">
                <h1>Movie Database Web Application</h1>
            </div>

            <div class="project-1-text">
                <p>I developed a responsive movie database web app that connects to a third-party API to fetch and
                    display real-time movie information. The app features a search system that allows users to find
                    movies by title and view detailed information, including plot, cast, and ratings. This project
                    demonstrates my skills in API integration, real-time data handling, and creating user-friendly
                    interfaces with Angular.

                </p>
            </div>

            <div class="project-1-button">

                <a href="https://netflix-lime-alpha.vercel.app/" target="_blank"><button>Preview</button></a>
            </div>

        </div>
        <div class="col-lg-6 ">
            <div class="project-1-image">
                <img src="../assets/images/pj1.jpg" alt="">
            </div>
        </div>

    </div>

    <!-- PROJECT 1 -->


    <!-- PROJECT 2 -->

    <div class="row px-3" style="margin-top: 230px;">

        <div class="col-lg-6">

            <div class="project-1-heading">
                <h1>E-commerce Department Categories</h1>
            </div>

            <div class="project-1-text">
                <p>I created an e-commerce platform that organizes and displays product data based on department
                    categories. The website utilizes APIs to fetch and present real-time data, allowing users to explore
                    different categories effortlessly. This project highlights my skills in API integration and creating
                    organized, user-friendly interfaces, focusing purely on data presentation
                    and navigation.


                </p>
            </div>

            <div class="project-1-button">

                <a href="https://ecomerce-website-nine.vercel.app/" target="_blank"><button>Preview</button></a>
            </div>

        </div>
        <div class="col-lg-6 ">
            <div class="project-1-image">
                <img src="../assets/images/pj2.jpg" alt="">
            </div>
        </div>

    </div>

    <!-- PROJECT 2 -->


    <!-- PROJECT 3 -->

    <div class="row px-3" style="margin-top: 230px;">

        <div class="col-lg-6">

            <div class="project-1-heading">
                <h1>Bubble Hit Game</h1>
            </div>

            <div class="project-1-text">
                <p>I developed an interactive Bubble Hit game using HTML, CSS, and JavaScript. The game challenges
                    players to quickly find and hit a target number displayed on the screen within 30 seconds. The
                    target number changes randomly, and players must search through several bubbles, each containing a
                    different random number, to score points. This project demonstrates my ability to create engaging,
                    time-based interactive games with dynamic content and responsive design.

                </p>
            </div>

            <div class="project-1-button">

                <a href="https://bubble-project.vercel.app/" target="_blank"><button>Preview</button></a>
            </div>

        </div>
        <div class="col-lg-6 ">
            <div class="project-1-image">
                <img src="../assets/images/pj3.jpg" alt="">
            </div>
        </div>

    </div>

    <!-- PROJECT 3 -->



    <!-- PROJECT 4 -->

    <div class="row px-3" style="margin-top: 230px;">

        <div class="col-lg-6">

            <div class="project-1-heading">
                <h1>uMake Website Clone</h1>
            </div>

            <div class="project-1-text">
                <p>I successfully cloned the uMake website <a href="https://www.umake.com/"
                        target="_blank">uMake.com</a> using HTML, CSS, and JavaScript,
                    replicating its design and functionality across the entire site. This project showcases my design
                    skills and attention to detail, as I created a fully responsive layout that mirrors the original
                    website. The clone includes animated elements throughout the site, enhancing user engagement and
                    experience. This project highlights my ability to implement interactive features and intricate
                    design elements, reflecting my commitment to creating visually appealing and user-friendly web
                    applications.

                </p>
            </div>

            <div class="project-1-button">

                <a href="https://u-make-website.vercel.app/" target="_blank"><button>Preview</button></a>
            </div>

        </div>
        <div class="col-lg-6 ">
            <div class="project-1-image">
                <img src="../assets/images/pj4.jpg" alt="">
            </div>
        </div>

    </div>

    <!-- PROJECT 4 -->


    <!-- PROJECT 5 -->

    <div class="row px-3" style="margin-top: 230px;">

        <div class="col-lg-6">

            <div class="project-1-heading">
                <h1>Students Marks Project</h1>
            </div>

            <div class="project-1-text">
                <p>I developed a Students Marks project using HTML, CSS, and JavaScript, which collects and displays
                    marks for various subjects. The application assesses whether students pass (25% or more) or fail
                    (less than 25%) based on their scores. This project highlights my JavaScript knowledge and ability
                    to implement interactive features, providing a clear and user-friendly interface for students to
                    understand their academic performance.

                </p>
            </div>

            <div class="project-1-button">

                <a href="https://students-marks-project.vercel.app/" target="_blank"><button>Preview</button></a>
            </div>

        </div>
        <div class="col-lg-6 ">
            <div class="project-1-image">
                <img src="../assets/images/pj5.jpg" alt="">
            </div>
        </div>

    </div>

    <!-- PROJECT 5 -->


</div>