<div class="container-fluid">

    <div class="row mt-5 pt-5 px-3">

        <div class="col-lg-6">

            <div class="home-heading">

                <h1>HI I'M FRONT-END <br> DEVELOPER.</h1>

            </div>

            <div class="home-text">
                <p>I specialize in designing <span>stunning</span> and <span>modern</span> web apps and websites that
                    not only look <span>beautiful</span> but also offer a <span>seamless</span> user experience.
                </p>
            </div>

            <div class="home-button">

                <!-- Button trigger modal -->
                <button type="button" class="contact" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Contact
                </button>

                <button type="button" class="resume" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    Resume
                </button>
            </div>

            <!-- Modal 1-->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <h1 class="modal-title fs-4 text-center" id="staticBackdropLabel">Contact Me</h1> -->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="contact-body">

                                <div class="contact-gmail">
                                    <i class="ri-at-line"></i>
                                    <h4>javascript492&#64;gmail.com</h4>
                                </div>
                                <div class="contact-phone">

                                    <i class="ri-phone-line"></i>
                                    <h4>0319-1297581</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal 2 -->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <h1 class="modal-title fs-4 text-center" id="staticBackdropLabel">Contact Me</h1> -->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <img width="100%" src="assets/images/front-end cv.png" alt="">

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-lg-6">

            <div class="home-image">

                <img src="../assets/images/hero-devices.svg " alt="">

            </div>

        </div>

    </div>

</div>